node_modules
dist
out
.turbo
*.min.js
*.min.css
pnpm-lock.yaml
packages/types/src/generated
packages/types/src/bridge/generated.ts
packages/types/__fixtures__
crates/shift-bridge/index.js
crates/shift-bridge/index.d.ts
**/vendor
