body {
  background-color: var(--color-bg-canvas);
  overflow: hidden;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Custom pen cursor with retina support */
.cursor-pen {
  cursor:
    url("/cursors/pen@32.svg") 8 8,
    auto;
}

@media (min-resolution: 2dppx) {
  .cursor-pen {
    cursor:
      url("/cursors/pen@64.svg") 16 16,
      auto;
  }
}

/* Grab/hand cursor */
.cursor-hand {
  cursor: grab;
}

.cursor-hand:active {
  cursor: grabbing;
}
