.cursor-pen {
  cursor:
    url("./cursors/pen@1.svg") 15 8,
    pointer;
  cursor:
    -webkit-image-set(url("./cursors/pen@2.svg") 2x) 15 8,
    pointer;
}

.cursor-hand {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.cursor-hand:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
